html {
  background-image: url("../assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-blend-mode: overlay;
}

.weather-app {
  margin: 0 20px;
}

h1 {
  color: rgb(255, 196, 0);
  font-size: 3.5rem;
  text-align: center;
  letter-spacing: 0.1rem;
}
