.forecast-details {
  background-color: white;
  color: black;
  width: fit-content;
  margin: auto;
  padding: 1em;
  border-radius: 5px;
}


.forecast-details__date {
  font-size: 20px;
  padding: 0.5rem 1.3rem 1.3rem 1.3rem;
  font-weight: bold;
  
}

.forecast-details__bold {
  float: left;
  display: block;
  font-weight: bold;
  padding: 0.5rem;
}


.forecast-details__maxTemperature {
  padding: 0.5rem;
  text-align: right;
}

.forecast-details__minTemperature {
  padding: 0.5rem;
  text-align: right;

}

.forecast-details__humidity {
  padding: 0.5rem;
  text-align: right;
}

.forecast-details__windSpeed {
  padding: 0.5rem;
  text-align: right;

}

.forecast-details__windDirection {
  padding: 0.5rem;
  text-align: right;
}

