.search-form {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 2rem;
}

.search-form__button {
  padding: 1em 3em 1em 3em;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

input[type="text"] {
  padding: 1em 3em 1em 2em;
  margin-right: 10px;
  border-radius: 10px;
  border: none;
}

@media (max-width: 414px) {
  .search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
  }

  input[type="text"] {
    margin-bottom: 1em;
  }
}